html {
    height: 100%;
    
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
    --color-dark: #1a1a1a;
}

html[data-theme='dark'] {    
    --bg: #333333;
    --bg-panel: #434343;
    --color-headings: #3694FF;
    --color-text: #B5B5B5;
}

body {
    background-color: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: var(--bg-panel);
}

h1 {
    color: var(--color-headings);
}

p {
    color: var(--color-text);
}





/* Toggle buttom */

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: var(--color-headings);
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: yellow;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--color-dark);
}

input:checked + label:after {
	left: calc(100% - 5px);
    transform: translateX(-100%);
    background-color: white;
}

label:active:after {
    width: 45px;
    background-color: white;
}

/* Transtion to Dark and Light Modes */

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}