<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
        
    </head>
    <body>

        <div class="grid-container">
            <header class="header">
                <h1>Imágenes para ti</h1> 
            </header>
            
            <aside class="navigation-drawer-wrapper">
                <div class="navigation-drawer">
                    <div class="user">
                        <img src="./img/User.svg" alt="user image">
                        <h2>User</h2>
                        <p>Nocturno: <span id="modo-nocturno">NO</span></p>
                        <input type="checkbox" id="switch" name="theme" class="toggle"/>
                        <label for="switch">Toggle</label>
                    </div>
                    <button class="salir">Cerrar sesión</button>
                    <div id="menu" class="menu">Menú</div>
                </div>
            </aside>
            
    
            <main class="main">
                <div class="gallery">

                    <div class="image-block">
                        <a href=""></a>
                        <img src="https://picsum.photos/id/0/5616/3744" alt="image 1">
                        <div class="img-description">
                            <p>5616 x 3744</p>
                            <p>Alejandro Escamilla 
                                <a href="https://unsplash.com/photos/yC-Yzbqy7PY" target="_blank">
                                    <i class="fab fa-unsplash"></i>
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="image-block">
                        <a href=""></a>
                        <img src="https://picsum.photos/id/0/5616/3744" alt="image 1">
                        <div class="img-description">
                            <p>5616 x 3744</p>
                            <p>Alejandro Escamilla 
                                <a href="https://unsplash.com/photos/yC-Yzbqy7PY" target="_blank">
                                    <i class="fab fa-unsplash"></i>
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="image-block"><a href=""></a><img src="https://picsum.photos/id/0/5616/3744" alt="image 1"></div>
                    <div class="image-block"><a href=""></a><img src="https://picsum.photos/id/0/5616/3744" alt="image 1"></div>
                    <div class="image-block"><a href=""></a><img src="https://picsum.photos/id/0/5616/3744" alt="image 1"></div>
                    <div class="image-block"><a href=""></a><img src="https://picsum.photos/id/0/5616/3744" alt="image 1"></div>
                    <div class="image-block"><a href=""></a><img src="https://picsum.photos/id/0/5616/3744" alt="image 1"></div>
                    <div class="image-block"><a href=""></a><img src="https://picsum.photos/id/0/5616/3744" alt="image 1"></div>
                    <div class="image-block"><a href=""></a><img src="https://picsum.photos/id/0/5616/3744" alt="image 1"></div>
                    <div class="image-block"><a href=""></a><img src="https://picsum.photos/id/0/5616/3744" alt="image 1"></div>
                </div>

                <div class="modal-bg">
                        <div class="modal-image-block">
                            <a href=""></a>
                            <img src="https://picsum.photos/id/0/5616/3744" alt="image 1">
                            <div class="modal-img-description">
                                <p>Autor: Alejandro Escamilla | Cuenta Unplash:
                                    <a href="https://unsplash.com/photos/yC-Yzbqy7PY" target="_blank">
                                        <i class="fab fa-unsplash"></i>
                                    </a>
                                </p>
                                <p>Ancho: 5616</p>
                                <p>Alto: 3744</p>
                            </div>
                            <span class="modal-close"><i class="fas fa-times"></i></span>
                        </div>
                </div>

                

            </main>
    
            <footer class="footer">
                <p>Jorge Cáceres &copy;</p>
            </footer>
        </div>

        

        <script>

            // Handle Modal

            const images = document.querySelectorAll('.img-description');
            const modalBg = document.querySelector('.modal-bg');
            const modalClose = document.querySelector('.modal-close');

            images.forEach(function(image) {
                    image.addEventListener('click', () => {
                    modalBg.classList.add('modal-active');
                })
            })

            modalClose.addEventListener('click', () => {
                modalBg.classList.remove('modal-active');
            })

            // Display menu button for sidebar

            const menu = document.querySelector('.menu');
            const sideBar = document.querySelector('.navigation-drawer');

            menu.addEventListener('click', () => {
                sideBar.classList.toggle('nav-open');
            })

            // Handle Dark mode

            const checkbox = document.querySelector('input[name=theme]');
            const nocturno = document.querySelector('#modo-nocturno');

            checkbox.addEventListener('change', function () {
                if (this.checked) {
                    trans();
                    document.documentElement.setAttribute('data-theme', 'dark');
                    nocturno.innerHTML = 'SI';
                } else {
                    trans();
                    document.documentElement.setAttribute(
                        'data-theme',
                        'light'
                    );
                    nocturno.innerHTML = 'NO';
                }
            });

            let trans = () => {
                document.documentElement.classList.add('transition');
                window.setTimeout(() => {
                    document.documentElement.classList.remove('transition');
                }, 1000);
            };
        </script>
    </body>
</html>
