@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;

  --fs-h1: 3rem;
  --fs-h2: 2.2rem;
  --fs-h3: 1.8rem;
  --fs-body: 1.6rem;

  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-headings: #61abff;
  --color-text: #333333;
  --color-dark: #1a1a1a;
  --header-bg: linear-gradient(rgba(233, 233, 233, 0.5), rgba(0, 0, 0, 0.3)), 
                url("../img/header-bg-light.jpg");
}

html[data-theme='dark'] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: #3694FF;
  --color-text: #B5B5B5;
  --header-bg: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url("../img/header-bg-dark.jpg");
}

body {
  background-color: var(--bg);
  color: var(--color-text);
  font-family: 'Roboto Mono', monospace;
  font-size: var(--fs-body);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: 100;
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.grid-container {
  display: grid;
  grid-template-areas: 
    "header header"
    "navigation-drawer main"
    "navigation-drawer footer"
  ;
}

.header {
  width: 100%;
  height: 40rem;
  background-image: var(--header-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-attachment: fixed; */
}

.navigation-drawer-wrapper {
  grid-area: navigation-drawer;
  position: relative;
  width: 15rem;
}

.navigation-drawer {
  width: 15rem;
  background: url("../img/stripe.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  /* border-right: 4px var(--color-headings) solid; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-drawer img {
  width: 60%;
  margin: 2rem;
}

/* .stripe {
  background: url("../img/stripe.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
} */

.main {
  grid-area: main;
  min-height: 100vh;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 5rem;
}

/* .image-block {

} */

.image-block img {
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.footer {
  width: 100%;
  height: 5rem;
  background: grey;
  grid-area: footer;
}


/* Toggle buttom */
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--color-headings);
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: yellow;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-dark);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: white;
}

label:active:after {
  width: 45px;
  background-color: white;
}

/* Transtion to Dark and Light Modes */
/* html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
} */
/*# sourceMappingURL=main.css.map */